
services:

  app:
    
    build:
      context: .
      dockerfile: Dockerfile
    
    ports:
      - "3000:3000"
    
    environment:
      NODE_ENV: development

      DB_HOST: db
      DB_PORT: 5432
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_NAME: mydatabase
    
    depends_on:
      - db
    
    restart: always
  db:
    image: postgres:16
    container_name: my_postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes: 
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: